.item-block {
	text-align: left;
	color: #999999;

	float: left;
	width: 300px;
	height: 100px;
	margin: 0 1em 1em 0;

	background: white;

	border: 1px solid #dddddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	/*box-shadow: 2px 2px 4px #dddddd;*/
	/*-moz-box-shadow: 2px 2px 4px #dddddd;*/
	/*-webkit-box-shadow: 2px 2px 4px #dddddd;*/
}
#body {
	margin-top: 5em;
}