<!DOCTYPE html>
<html>
<head>
	<title>Распродажа веселья</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=ru" rel="stylesheet">
	<link href="{{ STATIC_URL }}vendor/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}

    <script src="{{ STATIC_URL }}vendor/js/jquery-1.11.2.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}vendor/js/holder.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/js/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% block extra_js %}
    {% endblock %}

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Фильтры для развлечений</a>
		</div>
		<div class="collapse navbar-collapse pull-right">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'basket' %}">Корзина{% if basket_info %} ({{basket_info.0}} поз. на {{basket_info.1}} р.){% endif %}</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Поиск">
				</div>
			</form>
        </div>
	</div>
</nav>

<div class="container" id="body">
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% ifequal message.tags 'error' %}danger{% else %}{{ message.tags }}{% endifequal %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% block filters %}
{% endblock %}

{% block content %}
{% endblock %}
</div>

</div>
</body>