<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @font-face {
            font-family: serif;
            src: url("{{ STATIC_ROOT }}/fonts/OpenSans-Regular.ttf");
        }
        body { font-family: serif; }

    </style>
</head>
<body>

<h1>Карта</h1>

<h2>Логин {{ card.login }}</h2>
<h2>Пароль {{ card.password }}</h2>
<h2>Сумма {{ card.nominal }}</h2>

Годен до: {{ card.date_expired }}

</body>
</html>