{% extends "base.html" %}

{% block content %}

{% if order %}

<div class="row">

    <h1>Проверка и оплата заказа</h1>
	<h3>Заказчик:</h3>
    <p>
        {{ order.username }}<br>
        {{ order.email }}<br>
        {{ order.phone }}<br>
    </p>
    <p>
        Ваш заказ №{{ order.id }} на сумму {{ order.summa }} руб.:<br>
        <ul>
        {% for item in order.items.all %}
            <li>{{ item.name }} - {{ item.price }} руб.</li>
        {% endfor %}
        {% for extra_item in order.extra_items.all %}
            <li>{{ extra_item.name }} - {{ extra_item.price }} руб.</li>
        {% endfor %}
        </ul>
    </p>
    {% if order.transactions %}
        <p>Использованы карты:</p>
        <ol>
            {% for transaction in order.transactions.all %}
                <li> Карта номинал {{ transaction.summa }} руб.</li>
            {% endfor %}
        </ol>
    {% endif %}
    <p>Сумма к оплате {{ order.summa_to_pay }} руб.</p>

    <hr>
    <form method="post" action="https://demo.moneta.ru/assistant.htm">
        <input type="hidden" name="MNT_ID" value="{{ PAYANYWAY_ACCOUNT }}">
        <input type="hidden" name="MNT_TRANSACTION_ID" value="{{ order.id }}">
        <input type="hidden" name="MNT_CURRENCY_CODE" value="RUB">
        <input type="hidden" name="MNT_AMOUNT" value="{{ order.summa_to_pay }}">
        <input type="hidden" name="MNT_TEST_MODE" value="1">
        <input type="hidden" name="MNT_SIGNATURE" value="{{ signature }}">
        <button type="submit" class="btn btn-primary">
           Оплата заказа
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </form>
	<p><a href="/">На главную</a></p>

</div>

{% endif %}




{% endblock %}
