{% extends "base.html" %}

{% block filters %}
<div class="row">
<ul class="nav nav-pills" role="tablist">
		{% for filter in active_filters %}
		<li role="presentation" class="active"><a href="#" data-id="{{filter.id}}">{{ filter.name }} <span class="badge">{{filter.count}}</span></a></li>
		{% endfor %}
		{% for filter in filters %}
		<li role="presentation"><a href="#" data-id="{{filter.id}}">{{ filter.name }} <span class="badge">{{filter.count}}</span></a></li>
		{% endfor %}
</ul>
	<br/>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
		{% for ent in entertainment_list %}
  	<div class="item-block">
	  	<table class="item-table">
	  		<tr><td>{{ ent.name }}</td></tr>
	  		<tr><td>{{ ent.price }}</td></tr>
	  		<tr valign="bottom">
					<td>
						<form action="{% url 'add_to_basket' %}" method="post">{% csrf_token %}
							<button type="submit" class="btn btn-default btn-sm" name="cart_item" value="{{ent.id}}">
								<span class="glyphicon glyphicon-shopping-cart" title="В корзину"></span>
							</button>
						</form>
					</td>
				</tr>
	  	</table>
		</div>
		{% endfor %}
  </div>
  <div class="col-md-1"></div>
</div>



{% endblock %}
