{% extends "base.html" %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}vendor/js/bootstrap-multiselect.js"></script>
{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}vendor/css/bootstrap-multiselect.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th width="100px">Цена</th>
                <th width="100px">Сбст-ть</th>
                <th>Статус
                </th>
                <th>Партнер</th>
                <th>Дата <br>покупки</th>
                <th>Дата <br>погашения</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <div class="btn-group">
                        <select id="status-select" name="multiselect[]" multiple="multiple">
                            {% for k,v in status %}
                                <option value="{{ k }}"{% if k in selected_statuses %} selected="selected"{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                        <button id="status-clear" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </th>
                <th>
                    <div class="btn-group">
                        <select id="partner-select" name="multiselect[]" multiple="multiple">
                            {% for k,v in partners %}
                                <option value="{{ k }}"{% if k in selected_partners %} selected="selected"{% endif %}>{{ v }}</option>
                            {% endfor %}
                        </select>
                        <button id="partner-clear" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </th>
                <th></th>
                <th></th>
                <th>
                    <button class="btn btn-primary filter-get"><span class="glyphicon glyphicon-ok-sign">Применить</span></button>
                </th>
            </tr>
        </thead>
         <tfoot>
            <tr>
                <td>Итого:</td>
                <td>{{ price_total }} руб.</td>
                <td>{{ revenue_total }} руб.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
    {% for orderitem in orderitems_list %}
            <tr>
                <td>{{ orderitem.name }}</td>
                <td>{{ orderitem.price }}</td>
                <td>{{ orderitem.revenue }}</td>
                <td>{{ orderitem.get_status_display }}</td>
                <td>{% if orderitem.partner %}{{ orderitem.partner }}{% endif %}</td>
                <td>{{ orderitem.order.created|date:"d.m.Y" }}</td>
                <td>{% if orderitem.date_redemption %}{{ orderitem.date_redemption|date:"d.m.Y" }}{% endif %}</td>
            </tr>
    {% empty %}
            <tr>
                <td colspan="6">Нет данных</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#status-select').multiselect({
            nonSelectedText: 'Все'
        });
        $('#partner-select').multiselect({
            nonSelectedText: 'Все'
        });
        $('.filter-get').on('click', function() {
            var selectedStatusOptions = $('#status-select option:selected');
            var selectedPartnerOptions = $('#partner-select option:selected');

            if (selectedStatusOptions.length == 0 && selectedPartnerOptions.length == 0){
                window.location = "{%  url 'order_items' %}"
            } else {
                var selectedStatuses = [],
                    selectedPartners = [];
                selectedStatusOptions.each(function (){
                    selectedStatuses.push(($(this)[0].value))
                });
                selectedPartnerOptions.each(function (){
                    selectedPartners.push(($(this)[0].value))
                });

                window.location = "{%  url 'order_items' %}/?status=" + selectedStatuses + '&partner=' + selectedPartners
            }
        });
        $('#status-clear').on('click', function() {
            $('#status-select').multiselect('deselectAll', false);
            $('#status-select').multiselect('updateButtonText');
        });
        $('#partner-clear').on('click', function() {
            $('#partner-select').multiselect('deselectAll', false);
            $('#partner-select').multiselect('updateButtonText');
        })
    });
</script>

{% endblock content %}