{% extends "base.html" %}

{% block content %}


<div class="row">
    <h1>Ваш заказ оплачен!</h1>

    <p>
        Ваш заказ №{{ order.id }}:<br>
        <ul>
        {% for item in order.items.all %}
            <li>{{ item.name }} - {{ item.price }} руб. - <a href="{% url 'pdf' item.code %}">PDF</a></li>
        {% endfor %}
        {% for extra_item in order.extra_items.all %}
            <li>{{ extra_item.name }} - {{ extra_item.price }} руб. - <a href="{% url 'pdf' extra_item.code %}">PDF</a></li>
        {% endfor %}
        </ul>
    </p>
    <hr>

	<p><a href="/">На главную</a></p>

</div>

{% endblock %}
