<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @font-face {
            font-family: serif;
            src: url("{{ STATIC_ROOT }}/fonts/OpenSans-Regular.ttf");
        }
        body { font-family: serif; }

    </style>
</head>
<body>

<h1>{{ item.name }}</h1>
<h2>{{ item.explanations }}</h2>

<h1>Код: {{ item.code }}</h1>

Годен до: {{ item.date_expiration }}

</body>
</html>