{% extends "base.html" %}
{% load storefilters %}

{% block content %}

{% if object %}

<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Сумма</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <form method="post">{% csrf_token %}
                    <fieldset>
                        {{ basket_item_form.management_form }}
                        {% for inline_form in basket_item_form%}
                            {{ inline_form.id }}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"><img src="holder.js/100x100"/></a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            {{ inline_form.item.as_hidden }}
                                            {{ inline_form.basket.as_hidden }}
                                            <a href="#">{{ inline_form.instance.item.name }}</a>
                                        </h4>
                                        <span>Характеристики: </span>
                                        <span class="text-success">
                                            <strong>{% for tag in inline_form.instance.item.tag_list %}{{ tag }}&nbsp;{% endfor %}</strong>
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                {{ inline_form.count|addcss:"form-control text-center amount" }}
                            </td>
                            <td class="col-sm-2 col-md-2 text-center"><strong>{{ inline_form.instance.item.price }} руб.</strong></td>
                            <td class="col-sm-2 col-md-2 text-center"><strong>{{ inline_form.instance.item_sum }} руб.</strong></td>
                            <td class="col-sm-1 col-md-1 text-right">
                                <button type="button" class="btn btn-danger remove" data-id="{{ inline_form.instance.id }}" data-type="basket">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </fieldset>

                    <thead>
                        <tr>
                            <th>Подарочные карты</th>
                            <th>&nbsp;</th>
                            <th class="text-center">&nbsp;</th>
                            <th class="text-center">Сумма</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for transaction in object.transactions.all %}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                Карта номинал {{ transaction.card.nominal }}
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">&nbsp;</td>
                            <td class="col-sm-2 col-md-2 text-center">&nbsp;</td>
                            <td class="col-sm-2 col-md-2 text-center">{{ transaction.summa }}</td>
                            <td class="col-sm-1 col-md-1 text-right">
                                <button type="button" class="btn btn-danger remove" data-id="{{ transaction.id }}" data-type="transaction">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <form method="post">{% csrf_token %}
                            <td class="col-sm-8 col-md-6">
                                <div class="form-group{% if card_form.login.errors %} has-error{% endif %}">
                                    {% for error in card_form.login.errors %}
                                    <label class="control-label" for="id_login">{{ error }}</label>
                                    {% endfor %}
                                    <input class="form-control" id="id_login" maxlength="100" name="login" placeholder="Логин карты" type="text" value="{% if card_form.login.value %}{{ card_form.login.value }}{% endif %}"/>
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="form-group{% if card_form.password.errors %} has-error{% endif %}">
                                    {% for error in card_form.password.errors %}
                                    <label class="control-label" for="id_password">{{ error }}</label>
                                    {% endfor %}
                                    <input class="form-control" id="id_password" maxlength="100" name="password" placeholder="Пароль карты" type="text" value="{% if card_form.password.value %}{{ card_form.password.value }}{% endif %}"/>
                                </div>
                            </td>
                            <td class="text-center">&nbsp;</td>
                            <td class="col-sm-1 col-md-1 text-right">
                                <button type="submit" class="btn btn-success plus" data-id="{{ transaction.id }}" data-type="transaction" name="card_form">
                                  <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </td>
                            </form>
                        </tr>

                    {% if basket_extra_items %}
                        <thead>
                            <tr>
                                <th>Дополнительные услуги</th>
                                <th>&nbsp;</th>
                                <th class="text-center">&nbsp;</th>
                                <th class="text-center">Сумма</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for item in  basket_extra_items%}
                            <tr>
                                <th>{{ item.name }}</th>
                                <th>&nbsp;</th>
                                <th class="text-center">&nbsp;</th>
                                <th class="text-center">{{ item.price }}</th>
                                <th></th>
                            </tr>
                        {% endfor %}
                    {% endif %}

                    <input type="hidden" name="session_id" value="{{ basket_form.instance.session_id }}"/>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary" id="refresh" name="basket_form">
                                Обновить
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </td>
                        <td></td>
                        <td colspan="2"><h3>Итого:</h3></td>
                        <td class="text-right"><h3><strong>{{ object.summa_to_pay }} руб.</strong></h3></td>
                    </tr>
                </form>
                <form method="post" name="order_form">{% csrf_token %}
                    <tr>
                        <td colspan="5">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="heading">
                                        <h4 class="form-heading">Ваша контактная информация</h4>
                                    </div>
                                    <p><span class="label label-primary">Внимание:</span> <small> Поля имя и почта являются обязательными.</small></p>
                                    <div class="form-group{% if order_form.username.errors %} has-error{% endif %}">
                                        {% for error in order_form.username.errors %}
                                        <label class="control-label" for="id_username">{{ error }}</label>
                                        {% endfor %}
                                        <input class="form-control" id="id_username" maxlength="100" name="username" placeholder="Имя Фамилия" type="text" value="{% if order_form.username.value %}{{ order_form.username.value }}{% endif %}"/>
                                    </div>
                                    <div class="form-group{% if order_form.email.errors %} has-error{% endif %}">
                                        {% for error in order_form.email.errors %}
                                        <label class="control-label" for="id_email">{{ error }}</label>
                                        {% endfor %}
                                        <input class="form-control" id="id_email" maxlength="100" name="email" placeholder="Электронная почта" type="email" value="{% if order_form.email.value %}{{ order_form.email.value }}{% endif %}"/>
                                    </div>
                                    <div class="form-group{% if order_form.phone.errors %} has-error{% endif %}">
                                        {% for error in order_form.phone.errors %}
                                        <label class="control-label" for="id_phone">{{ error }}</label>
                                        {% endfor %}
                                        <input class="form-control" id="id_phone" maxlength="100" name="phone" placeholder="Телефон" type="text" value="{% if order_form.phone.value %}{{ order_form.phone.value }}{% endif %}"/>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary" name="order_form">Оформить</button>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </td>
                    </tr>
                </form>
                <tr>
                    <td>
                        <a href="/" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Продолжить покупки
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

{#                        <button type="submit" class="btn btn-primary" id="refresh" name="">#}
{#                            Оплата заказа#}
{#                            <span class="glyphicon glyphicon-arrow-right"></span>#}
{#                        </button>#}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% else %}

<div class="row">
	<h3>Корзина пуста</h3>
	<p><a href="/">На главную</a></p>
</div>

{% endif %}

{% endblock %}